<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  {{{body}}}
  <script>
  </script>
  <script  src="/javascripts/location.js"></script>
</body>

</html>